@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#007bb2, #0d1423);
}

.card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.card .poster{
    position: relative;
    overflow: hidden;
}

.card .poster img{
    width: 100%;
}